venv/
videos/
__pycache__/
*.pyc

# Generated output vids
output_videos/
# locally stored input videos
renderer/public/
# runs
pipeline/planning/runs/
# edit plans
edit_plans/
#skills folder
skills/
#claude md file
CLAUDE.md
.env.dev